body {
  background-color: rgb(10, 35, 81);
}
img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 5px solid brown;
}
.splide {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splide__slide {
  margin: 20px;
}
.splide__arrow {
  width: 60px;
  height: 60px;
}
